 *{
     margin: 0%;
     padding: 0;
     box-sizing: border-box;
     color: rgb(76, 21, 226);
     nav-down: auto;
    
 }
body{
    font-family: 'Roboto', sans-serif;
}
h1{
    text-align:  center;
    color: rgb(146, 8, 8);
    padding: 20px

}
.header{
font-style: italic;
}
.paragraph{
font-size: 24px;
color: green;
}
.cat{
    display: block;
    margin: 0 auto;
    margin-top: 100px; 
width: 250px;
height: 100px;
transition: 3.2s;

}
.cat:hover{
    transform: scale(2);
}

h3{
    text-align: center;
    color:blue
}
.btn{
    margin: 0 auto;
    margin-top: 50px;
    border: 1px solid  rgb(27, 104, 46);
    color: grey;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 15px;
    background-color:black ;
    cursor: pointer;
    transition: .9s;
    margin-left: 1500px;
} 
.btn:hover{
    color: black;
    background-color: aliceblue;
}
.header{
    width: 100%;
    height: 50px;
    border:black ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: blue;
    position: fixed;
    z-index: 999;
    top: 0;
}
.header_link{
    color: rgb(31, 194, 112);
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: 3s;
}
.header_link:hover{
    color: black;
    text-decoration: underline;
}
.title{
    margin-top: 50px;
}

.com{
    display: block;
    margin: 0 auto;
    margin-top: 50px; 
width: 350px;
height: 250px;
transition: 3.2s;
}
.ghoul{
    margin-left: 800px;
    color: rgb(216, 36, 36);
    font-size: 24px;
    margin-top: 25px;
 
}

.net{
    font-size: 20px;
    color: rgb(230, 167, 33);
}
.h2{
    margin-left: 800px;
}
.top{
    margin-left: 720px;
    margin-top: 25px;
}
.raketa{
    margin-left: 900px;
    margin-top: 20px;
    font-size: 24px;
    color: rgb(138, 138, 223);
}
.wal{
    color: blueviolet;
font-size: 24px;
margin-left: 800px;
margin-top: 20px;
}
.ter{
    margin-left: 700px;
    width: 650px;
height:500px
}
.vlad{
    color: rgb(55, 131, 55);
    font-size: 20px;
    padding: 15px;
}
.popov{
    margin-top: 20px;
    margin-left: 700px;
    width: 650px;
    height:650px;
    padding: 15px;

}

.pov{
    font-size: 24px;
    color: rgb(71, 22, 206);
    margin-left: 800px;
}
.povov{
    font-size: 20px;
    color: rgb(194, 123, 36);
    padding: 15px;

}
.green{
    font-size: 20px;
    color: rgb(72, 243, 129);
    padding: 15px;
}